
backups/
*.txt
make_experiment/__pycache__
vibecoding_2
*.png
non_functional/class_function_name_check.csv
main_exp_sheet_2.csv
.DS_Store
SideProject_submissions_links_.checkpoint.ndjson_review.json
Vibecoding_submissions_links_.checkpoint.ndjson_review.json
non_functional/__pycache__
non_functional/old_notebooks
non_functional/viz_notebooks/__pycache__
reddit_sorting/reddit_sorting_accepts.ndjson
reddit_sorting/reddit_sorting_rejects.ndjson

reddit_sorting/SideProject_comments_links.txt_accepts.ndjson

reddit_sorting/SideProject_comments_links.txt_rejects.ndjson
reddit_sorting/SideProject_submissions_links_accepts.ndjson
reddit_sorting/SideProject_submissions_links_rejects.ndjson
reddit_sorting/Vibecoding_submissions_links_accepts.ndjson

reddit_sorting/Vibecoding_submissions_links.txt_accepts.ndjson
reddit_sorting/Vibecoding_submissions_links.txt_rejects.ndjson

reddit_sorting/2nd_sorting/SideProject_submissions_links_accepts.ndjson
reddit_sorting/2nd_sorting/SideProject_submissions_links_rejects.ndjson

reddit_sorting/Vibecoding_submissions_links_rejects.ndjson
reddit_sorting/2nd_sorting/Vibecoding_submissions_links_accepts.ndjson
temp_delete/SideProject_submissions_links.txt_accepts.ndjson
reddit/subreddits25/SideProject_submissions.zst
reddit/subreddits25/vibecoding_submissions.zst
reddit/subreddits25/vibecoding_comments.zst
temp_delete/temp_output.zst
temp_delete/temp_output.csv
comments/subsampled_comments - subsampled_comments.csv
non_functional/test_same_file_call.csv
non_functional/fn_origin_test.csv
non_functional/temp_fn_calls_checking.csv
non_functional/fn_duplicates.csv
temp_delete/project_age.csv
temp_delete/
non_functional/test_same_file_class_call.csv
non_functional/Debugging/checking_items.csv
non_functional/temp_class_calls_checking.csv
Project_topic/Topics - All_project_topics.csv
non_functional/proj_level_py_results.csv
non_functional/corrected_proj.csv
make_experiment/testing/test_imports.csv
make_experiment/test_imports.csv
non_functional/test_calls_df.csv
non_functional/test_imports_df.csv
non_functional/test_calls_class_df.csv
non_functional/corrected_proj copy.csv
non_functional/new_corrected_proj.csv
non_functional/proj_stats.csv
general_features/stat_sig_lang.csv
import_statements/both_test.csv
logs/bot.log
dataset_features 2.zip
dataset_features.zip
non_functional/Debugging/sample_projects.csv
comments/files_raw.csv
.gitignore
dataset_features/all_calls.csv
dataset_features/all_class.csv
dataset_features/all_fn.csv
dataset_features/comments.csv
dataset_features/files_raw.csv
dataset_features/imports.csv
dataset_features/bad_run/
dataset_features/off_by_one/
dataset_features/comments_revised.csv
dataset_features/new_csv.csv
.gitignore
dataset_features/clone_failures.csv
.gitignore
dataset_features/pylint.json
non_functional/Book1.xlsx
non_functional/Debugging/checking_items.xlsx
reddit_sorting/Vibecoding_comments_links.csv
reddit_sorting/SideProject_comments_links.csv
dataset_features/requirements.csv
non_functional/class_level_metrics.csv
non_functional/file_level_py_raw.csv
non_functional/fn_level_metrics.csv
non_functional/proj_level_py.csv
non_functional/proj_stats_new.csv
